@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Shizuru&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



nav {
    font-family: 'Shizuru', cursive;
    text-align: center;
    padding: 20px 0;
    background-color: darkgrey;
}

#container {
    margin: 0 auto;
    width: 80%;
    border: 1px solid black;

    
}

#fonts > p:first-of-type {
    color: red;
    font-weight: bold;
}

#fonts > b {
    font-weight: normal;
}

#pseudo {

}

#transitions {

}

.topic {
    padding: 20px; 
    margin: 10px 0;
    border: 5px solid black;
    border-radius: 5px;
}